# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'AzureWhPipeline-conn'
    subscriptionId: '3f2ed5df-1cb6-4cca-abed-e978c572c9c3'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'AzureWhPipeline-rg'
    location: 'westus'
    templateLocation: 'Linked artifact'
    csmFile: 'CreateWebApp/azuredeploy.json'
    overrideParameters: '-projectName whpipdep01 -linkedTemplateUri https://raw.githubusercontent.com/voytekh/AzureWhPipeline-repo/master/CreateWebApp/linkedStorageAccount.json?token=AIXRYVJ53WD3SRFJHU2RBM275LR3K'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'
